AWS_KEY:                XXXXXXXXXX
AWS_SECRET:             XXXXXXXXXX
AWS_STATIC_BUCKET_NAME: '<%= _.dasherize(projectName.toLowerCase()) %>-production'
STATIC_URL:             '//s3.amazonaws.com/<%= _.dasherize(projectName.toLowerCase()) %>-production/'
SITE_DOMAIN:            '<%= siteUrl %>'
API_URL:                '//api.<%= siteUrl %>/'
